html {
  background-color: #282c34;
}

.App {
  overflow: hidden;
  text-align: center;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center
}
